<html>
<head>
    <script language="JavaScript">var baseUrl = "<%= baseUrl %>"</script>
    <script type="text/javascript" src="<%= baseUrl %>libs/jquery.min.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>libs/socket.io.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>game2.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>libs/fast-json-patch.min.js"></script>
    <link rel="stylesheet" type="text/css" href="<%= baseUrl %>libs/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="<%= baseUrl %>game.css"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>ProLudoClub</title>
    <style>
        body{
            background-color: #31b0d5;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-md-6 col-xs-12 " style="margin-right: 0px;padding-right: 0px">
        <div class="grid">
            <div class="col-6-15 border">
                <div class="row-6-15 border red">
                    <div class="start-red border white">
                        <div class="start-red">
                            <div class="col-2-5 border noBorder">
                                <div id="pos-0" role="button" class="row-2-5 border red">

                                </div>
                                <div class="row-1-5 noBorder">

                                </div>
                                <div id="pos-1" class="row-2-5 border red">

                                </div>
                            </div>
                            <div class="col-1-5 noBorder">
                                <div class="row-1-3 border noBorder">
                                </div>
                            </div>
                            <div class="col-2-5 border noBorder">
                                <div id="pos-2" class="row-2-5 border red">

                                </div>
                                <div class="row-1-5 noBorder">

                                </div>
                                <div id="pos-3" class="row-2-5 border red">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-3-15 border">
                    <div class="col-1-6 border">
                        <div id="pos-67" class="row-1-3 border">

                        </div>
                        <div id="pos-66" class="row-1-3 border">

                        </div>
                        <div id="pos-65" class="row-1-3 border">

                        </div>
                    </div>
                    <div class="col-1-6 border">
                        <div id="pos-16" class="row-1-3 border red">

                        </div>
                        <div id="pos-68" class="row-1-3 border red">

                        </div>
                        <div id="pos-64" class="row-1-3 border">

                        </div>
                    </div>
                    <div class="col-1-6 border">
                        <div id="pos-17" class="row-1-3 border">

                        </div>
                        <div id="pos-69" class="row-1-3 border red">

                        </div>
                        <div id="pos-63" class="row-1-3 border">

                        </div>
                    </div>
                    <div class="col-1-6 border">
                        <div id="pos-18" class="row-1-3 border">

                        </div>
                        <div id="pos-70" class="row-1-3 border red">

                        </div>
                        <div id="pos-62" class="row-1-3 border">

                        </div>
                    </div>
                    <div class="col-1-6 border">
                        <div id="pos-19" class="row-1-3 border">

                        </div>
                        <div id="pos-71" class="row-1-3 border red">

                        </div>
                        <div id="pos-61" class="row-1-3 border">

                        </div>
                    </div>
                    <div class="col-1-6 border">
                        <div id="pos-20" class="row-1-3 border">

                        </div>
                        <div id="pos-72" class="row-1-3 border red">

                        </div>
                        <div id="pos-60" class="row-1-3 border">

                        </div>
                    </div>
                </div>
                <div class="row-6-15 border blue">
                    <div class="start-blue border white">
                        <div class="start-blue">
                            <div class="col-2-5 border noBorder">
                                <div id="pos-12" class="row-2-5 border blue">

                                </div>
                                <div class="row-1-5 noBorder">

                                </div>
                                <div id="pos-13" class="row-2-5 border blue">

                                </div>
                            </div>
                            <div class="col-1-5 noBorder">
                                <div class="row-1-3 border noBorder">
                                </div>
                            </div>
                            <div class="col-2-5 border noBorder">
                                <div id="pos-14" class="row-2-5 border blue">

                                </div>
                                <div class="row-1-5 noBorder">

                                </div>
                                <div id="pos-15" class="row-2-5 border blue">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3-15">
                <div class="row-6-15 border">
                    <div class="col-1-3 border">
                        <div id="pos-26" class="row-1-6 border">

                        </div>
                        <div id="pos-25" class="row-1-6 border">

                        </div>
                        <div id="pos-24" class="row-1-6 border">

                        </div>
                        <div id="pos-23" class="row-1-6 border">

                        </div>
                        <div id="pos-22" class="row-1-6 border">

                        </div>
                        <div id="pos-21" class="row-1-6 border">

                        </div>
                    </div>
                    <div class="col-1-3 border">
                        <div id="pos-27" class="row-1-6 border">

                        </div>
                        <div id="pos-74" class="row-1-6 border yellow">

                        </div>
                        <div id="pos-75" class="row-1-6 border yellow">

                        </div>
                        <div id="pos-76" class="row-1-6 border yellow">

                        </div>
                        <div id="pos-77" class="row-1-6 border yellow">

                        </div>
                        <div id="pos-78" class="row-1-6 border yellow">

                        </div>
                    </div>
                    <div class="col-1-3 border">
                        <div id="pos-28" class="row-1-6 border">

                        </div>
                        <div id="pos-29" class="row-1-6 border yellow">

                        </div>
                        <div id="pos-30" class="row-1-6 border">

                        </div>
                        <div id="pos-31" class="row-1-6 border">

                        </div>
                        <div id="pos-32" class="row-1-6 border">

                        </div>
                        <div id="pos-33" class="row-1-6 border">

                        </div>
                    </div>
                </div>
                <div class="row-3-15 border container-triangle">
                    <div class="contain">
                        <svg width="100%" height="100%" viewBox="0 0 500 500">
                            <polygon points="250,250 500,0 500,500" style="fill:green;stroke:black;stroke-width:2"/>
                            <polygon points="250,250 -2,-2 500,-2" style="fill:yellow;stroke:black;stroke-width:2"/>
                            <polygon points="250,250 0,0 0,500" style="fill:red;stroke:black;stroke-width:2"/>
                            <polygon points="250,250 0,502 502,500" style="fill:blue;stroke:black;stroke-width:2"/>
                        </svg>
                    </div>
                    <div class="contain-over">
                        <div id="pos-85" class="finalPos" style="position: absolute; right: 0; top: 31%;">

                        </div>
                    </div>
                    <div class="contain-over">
                        <div id="pos-79" class="finalPos" style="position: absolute; top: 0; left: 33.3333%;">

                        </div>
                    </div>
                    <div class="contain-over">
                        <div id="pos-73" class="finalPos" style="position: absolute; left: 0; top: 31%;">

                        </div>
                    </div>
                    <div class="contain-over">
                        <div id="pos-91" class="finalPos" style="position: absolute; bottom: 0; left: 33.3333%;">

                        </div>
                    </div>
                </div>
                <div class="row-6-15 border">
                    <div class="col-1-3 border">
                        <div id="pos-59" class="row-1-6 border">

                        </div>
                        <div id="pos-58" class="row-1-6 border">

                        </div>
                        <div id="pos-57" class="row-1-6 border">

                        </div>
                        <div id="pos-56" class="row-1-6 border">

                        </div>
                        <div id="pos-55" class="row-1-6 border  blue">

                        </div>
                        <div id="pos-54" class="row-1-6 border">

                        </div>
                    </div>
                    <div class="col-1-3 border">
                        <div id="pos-90" class="row-1-6 border blue">

                        </div>
                        <div id="pos-89" class="row-1-6 border blue">

                        </div>
                        <div id="pos-88" class="row-1-6 border blue">

                        </div>
                        <div id="pos-87" class="row-1-6 border blue">

                        </div>
                        <div id="pos-86" class="row-1-6 border blue">

                        </div>
                        <div id="pos-53" class="row-1-6 border">

                        </div>
                    </div>
                    <div class="col-1-3 border">
                        <div id="pos-47" class="row-1-6 border">

                        </div>
                        <div id="pos-48" class="row-1-6 border">

                        </div>
                        <div id="pos-49" class="row-1-6 border">

                        </div>
                        <div id="pos-50" class="row-1-6 border">

                        </div>
                        <div id="pos-51" class="row-1-6 border">

                        </div>
                        <div id="pos-52" class="row-1-6 border">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6-15 border">
                <div class="row-6-15 border yellow">
                    <div class="start-yellow border white">
                        <div class="start-yellow">
                            <div class="col-2-5 border noBorder">
                                <div id="pos-4" class="row-2-5 border yellow">

                                </div>
                                <div class="row-1-5 noBorder">

                                </div>
                                <div id="pos-5" class="row-2-5 border yellow">

                                </div>
                            </div>
                            <div class="col-1-5 noBorder">
                                <div class="row-1-3 border noBorder">
                                </div>
                            </div>
                            <div class="col-2-5 border noBorder">
                                <div id="pos-6" class="row-2-5 border yellow">

                                </div>
                                <div class="row-1-5 noBorder">

                                </div>
                                <div id="pos-7" class="row-2-5 border yellow">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-3-15 border">
                    <div class="col-1-6 border">
                        <div id="pos-34" class="row-1-3 border">

                        </div>
                        <div id="pos-84" class="row-1-3 border green">

                        </div>
                        <div id="pos-46" class="row-1-3 border">

                        </div>
                    </div>
                    <div class="col-1-6 border">
                        <div id="pos-35" class="row-1-3 border">

                        </div>
                        <div id="pos-83" class="row-1-3 border green">

                        </div>
                        <div id="pos-45" class="row-1-3 border">

                        </div>
                    </div>
                    <div class="col-1-6 border">
                        <div id="pos-36" class="row-1-3 border">

                        </div>
                        <div id="pos-82" class="row-1-3 border green">

                        </div>
                        <div id="pos-44" class="row-1-3 border">

                        </div>
                    </div>
                    <div class="col-1-6 border">
                        <div id="pos-37" class="row-1-3 border">

                        </div>
                        <div id="pos-81" class="row-1-3 border green">

                        </div>
                        <div id="pos-43" class="row-1-3 border">

                        </div>
                    </div>
                    <div class="col-1-6 border">
                        <div id="pos-38" class="row-1-3 border">

                        </div>
                        <div id="pos-80" class="row-1-3 border green">

                        </div>
                        <div id="pos-42" class="row-1-3 border green">

                        </div>
                    </div>
                    <div class="col-1-6 border">
                        <div id="pos-39" class="row-1-3 border">

                        </div>
                        <div id="pos-40" class="row-1-3 border">

                        </div>
                        <div id="pos-41" class="row-1-3 border">

                        </div>
                    </div>
                </div>
                <div class="row-6-15 border green">
                    <div class="start-green border white">
                        <div class="start-green">
                            <div class="col-2-5 border noBorder">
                                <div id="pos-8" class="row-2-5 border green">

                                </div>
                                <div class="row-1-5 noBorder">

                                </div>
                                <div id="pos-9" class="row-2-5 border green">

                                </div>
                            </div>
                            <div class="col-1-5 noBorder">
                                <div class="row-1-3 border noBorder">
                                </div>
                            </div>
                            <div class="col-2-5 border noBorder">
                                <div id="pos-10" class="row-2-5 border green">

                                </div>
                                <div class="row-1-5 noBorder">

                                </div>
                                <div id="pos-11" class="row-2-5 border green">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-12">

        <div class="panel panel-default">
            <div class="panel-heading" style="padding:0; margin: 0;">
                <button class="btn btn-danger btn-block" id="leaveGame">To lobby</button>
                <div class="panel-body">
                    <h3 align="center">Turn:
                        <text id="turn">0</text>
                    </h3>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading" style="padding:0; margin: 0;">
                <h3 style="text-align: center; padding:0; margin: 0;"><i class="fa fa-users"></i> Players</h3>
            </div>
            <div class="panel-body" style="padding:0; margin:0; font-size:180%; outline-color: invert">
                <div id="playerText-0" class="red textPlayer">Player 1</div>
                <div id="playerText-1" class="yellow textPlayer">Player 2</div>
                <div id="playerText-2" class="green textPlayer">Player 3</div>
                <div id="playerText-3" class="blue textPlayer">Player 4</div>
            </div>
        </div>
        <div id="pos-92" class="panel panel-success">
            <div class="panel-heading" style="padding:0; margin: 0;">
                <h3 style="text-align: center; padding:0; margin: 0;">Dice throws left:
                    <text id="throwsLeft"></text>
                </h3>
            </div>
            <div class="panel-body row-1-6" style="padding:0; margin:0;">
                <svg id="dice-1" width="100%" height="100%" viewBox="0 0 100 100">
                    <rect x="10" y="10" width="80" height="80" rx="15" ry="15" fill="red" stroke='black'/>
                    <circle cx='50' cy='50' r='9' stroke-width='6' fill="white"/>
                </svg>
                <svg id="dice-2" width="100%" height="100%" viewBox="0 0 100 100">
                    <rect x="10" y="10" width="80" height="80" rx="15" ry="15" fill="red" stroke='black'/>
                    <circle cx='30' cy='30' r='9' stroke-width='6' fill="white"/>
                    <circle cx='70' cy='70' r='9' stroke-width='6' fill="white"/>
                </svg>
                <svg id="dice-3" width="100%" height="100%" viewBox="0 0 100 100">
                    <rect x="10" y="10" width="80" height="80" rx="15" ry="15" fill="red" stroke='black'/>
                    <circle cx='30' cy='30' r='9' stroke-width='6' fill="white"/>
                    <circle cx='50' cy='50' r='9' stroke-width='6' fill="white"/>
                    <circle cx='70' cy='70' r='9' stroke-width='6' fill="white"/>
                </svg>
                <svg id="dice-4" width="100%" height="100%" viewBox="0 0 100 100">
                    <rect x="10" y="10" width="80" height="80" rx="15" ry="15" fill="red" stroke='black'/>
                    <circle cx='30' cy='30' r='9' stroke-width='6' fill="white"/>
                    <circle cx='30' cy='70' r='9' stroke-width='6' fill="white"/>
                    <circle cx='70' cy='30' r='9' stroke-width='6' fill="white"/>
                    <circle cx='70' cy='70' r='9' stroke-width='6' fill="white"/>
                </svg>
                <svg id="dice-5" width="100%" height="100%" viewBox="0 0 100 100">
                    <rect x="10" y="10" width="80" height="80" rx="15" ry="15" fill="red" stroke='black'/>
                    <circle cx='30' cy='30' r='9' stroke-width='6' fill="white"/>
                    <circle cx='30' cy='70' r='9' stroke-width='6' fill="white"/>
                    <circle cx='50' cy='50' r='9' stroke-width='6' fill="white"/>
                    <circle cx='70' cy='30' r='9' stroke-width='6' fill="white"/>
                    <circle cx='70' cy='70' r='9' stroke-width='6' fill="white"/>
                </svg>
                <svg id="dice-6" width="100%" height="100%" viewBox="0 0 100 100">
                    <rect x="10" y="10" width="80" height="80" rx="15" ry="15" fill="red" stroke='black'/>
                    <circle cx='30' cy='30' r='9' stroke-width='6' fill="white"/>
                    <circle cx='30' cy='70' r='9' stroke-width='6' fill="white"/>
                    <circle cx='30' cy='50' r='9' stroke-width='6' fill="white"/>
                    <circle cx='70' cy='50' r='9' stroke-width='6' fill="white"/>
                    <circle cx='70' cy='30' r='9' stroke-width='6' fill="white"/>
                    <circle cx='70' cy='70' r='9' stroke-width='6' fill="white"/>
                </svg>
            </div>
        </div>

        <!-- <button id="runGame"> Autoplay</button> -->
        <div id="timeLeftDiv" class="panel panel-danger">
            <div class="panel-heading" style="padding:0; margin: 0;">
                <h3 style="text-align: center; padding:0; margin: 0;"><i class="fa fa-clock-o"></i> Time remaining</h3>
            </div>
            <div class="panel-body" style="padding:0; margin:0;">
                <text id="timeLeftText" style="font-size:180%">test</text>
            </div>
        </div>

        <div id="winnersDiv" class="panel panel-default">
            <div class="panel-heading" style="padding:0; margin: 0;">
                <h3 style="text-align: center; padding:0; margin: 0;">Winners</h3>
            </div>
            <div class="panel-body" style="padding:0; margin:0;">
                <text id="winnersText" style="font-size:180%">test</text>
            </div>
        </div>

    </div>
    <div class="col-md-3">
        <div  id="chatBoxDiv" class="panel panel-warning">
            <div class="panel-heading" style="padding:0; margin: 0;">
                <h3 style="text-align: center; padding:0; margin: 0;"><i class="fa fa-comments"></i> Chat</h3>
            </div>
            <div style="min-height: 300px" class="panel-body" id="chatLog">
                <text id="winnersText">Empty chat</text>
            </div>
            <div class="panel-footer" style="padding:0; margin: 0;">
                <input id="chatTypeBox" type="text" name="Send message" maxlength="80" style="width: 100%; margin: 0px">
            </div>
        </div>
    </div>
</div>
</body>
