<html>
<head>
    <script language="JavaScript">var baseUrl = "<%= baseUrl %>"</script>
    <script src="<%= baseUrl %>libs/jquery.min.js"></script>
    <script src="<%= baseUrl %>libs/socket.io.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>lobby.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
            crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="<%= baseUrl %>game.css"/>
    <title>ProLudoClub - Lobby</title>
    <style>
        body {
            height: 100%;
            background-size: cover;
            background: url("assets/img/bg5.jpg") no-repeat center center fixed;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Pro Ludo Club
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#previousGamesModal" href="#">Previous Games</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Notice</a>
            </li>
            <li class="nav-item">

            </li>
        </ul>
        <span class="navbar-text"> <button class="btn btn-danger btn-block" id="logoutBtn"> Logout</button> </span>
        <span class="navbar-text">  </span>
        <span class="navbar-text">
     [ Server Status : <span class="badge badge-success">Online</span> ]
    </span>
    </div>
</nav>

<div class="container">
    <div class="row" style="padding:10px">

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-default">
                <div class="card-header"><img src="assets/img/PlayersInLobby.png"><b>Players in lobby</b></div>
                <div class="card-body">
                    <div id="players"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xs-12">
            <div class="card card-default">
                <div class="card-header"><img src="assets/img/ReadyPlayerIcon.png"> <b>Ready Players</b></div>
                <div class="card-body">
                    <div id="readyPlayers"></div>
                </div>
                <div class="card-footer">
                    <div>
                        <button class="btn btn-success" id="startGame">Start Game</button>
                        <button class="btn btn-primary" id="readyBtn">Ready</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xs-12">
            <div class="card card-default">
                <div class="card-header"><img height="80" width="80" src="assets/img/dice.gif"> <b>Ongoing games</b></div>
                <div id="ongoingGames" class="card-body">

                </div>
                <div class="card-footer">
                    <h5>Click on a game to spectate.</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

    </div>
</div>


<div class="modal fade" id="previousGamesModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Previous Games</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 col-xs-12">
                    <div class="card card-default">
                        <div id="previousGames" class="card-body">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
